name: Docker Image Test

on:
  push:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Download repo
        uses: actions/checkout@v3

      - name: Build image
        run: docker build -t testimage .

      - name: Run image
        run: docker run testimage
